.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgb(116 111 111 / 75%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #e8d6fff2;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px 15px #121212;
    width: 50%;
}

header {
    background-color: red;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    color: #fff;
}

header h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

main p {
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer button {
    padding: 0.5rem 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}